body
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

h1
{
	text-align: center;
	color: #003a7b;
}

h2
{
	background-color: #c0d6ef;
	color: #000000;
	padding: 5px;
	border-top: 5px solid #003a7b;
	border-left: 5px solid #003a7b;
	border-right: 1px solid #003a7b;
	border-bottom: 1px solid #003a7b;
}

img
{
	border: 1px solid #000000;
	display: block;
}

div#navigation
{
	background-color: #c0d6ef;
	border: 1px solid #003a7b;
	color: #000000;
	padding: 5px;
	text-align: center;
}

div#navigation a:link, div#navigation a:visited
{
	color: #000000;
	text-decoration: none;
	text-align: center;
}

div#navigation a:hover, div#navigation a:active
{
	color: #000000;
	text-decoration: underline;
	text-align: center;
}

div#navigation2
{
	background-color: #c0d6ef;
	border: 1px solid #003a7b;
	color: #000000;
	padding: 5px;
	text-align: center;
}

div#navigation2 a:link, div#navigation2 a:visited
{
	color: #000000;
	text-decoration: none;
	text-align: center;
}

div#navigation2 a:hover, div#navigation2 a:active
{
	color: #000000;
	text-decoration: underline;
	text-align: center;
}
